DATABASE_URL=

FRONTEND_BASE_URL= 

EMAIL_ADDRESS=
EMAIL_PASSWORD=

TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_FROM=

SECRET_KEY=
ALGORITHM=
ACCESS_TOKEN_EXPIRE_MINUTES=

REDIS_HOST=
REDIS_PORT=
REDIS_DB=


CLOUDINARY_URL =

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
